@font-face {
  font-family: 'fontello';
  src: url('../font/construction/fontello.eot?90427048');
  src: url('../font/construction/fontello.eot?90427048#iefix') format('embedded-opentype'),
       url('../font/construction/fontello.woff2?90427048') format('woff2'),
       url('../font/construction/fontello.woff?90427048') format('woff'),
       url('../font/construction/fontello.ttf?90427048') format('truetype'),
       url('../font/construction/fontello.svg?90427048#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90427048#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-adjusment-system:before { content: '\e800'; } /* 'î €' */
.icon-adjustment-system:before { content: '\e801'; } /* 'î ' */
.icon-angle-ruler:before { content: '\e805'; } /* 'î …' */
.icon-anvil:before { content: '\e806'; } /* 'î †' */
.icon-axe:before { content: '\e807'; } /* 'î ‡' */
.icon-backhoes:before { content: '\e808'; } /* 'î ˆ' */
.icon-barrier:before { content: '\e809'; } /* 'î ‰' */
.icon-big-derrick-with-boxes:before { content: '\e80f'; } /* 'î ' */
.icon-big-shovel:before { content: '\e812'; } /* 'î ’' */
.icon-board:before { content: '\e813'; } /* 'î “' */
.icon-brick-wall:before { content: '\e816'; } /* 'î –' */
.icon-bucket:before { content: '\e81a'; } /* 'î š' */
.icon-cement-truck:before { content: '\e81d'; } /* 'î ' */
.icon-chainsaw:before { content: '\e81e'; } /* 'î ž' */
.icon-clippers:before { content: '\e820'; } /* 'î  ' */
.icon-concrete-mixer:before { content: '\e821'; } /* 'î ¡' */
.icon-constructing-a-brick-wall:before { content: '\e823'; } /* 'î £' */
.icon-construction-palette:before { content: '\e826'; } /* 'î ¦' */
.icon-crane:before { content: '\e828'; } /* 'î ¨' */
.icon-crane-1:before { content: '\e829'; } /* 'î ©' */
.icon-crane-truck:before { content: '\e82a'; } /* 'î ª' */
.icon-derrick-facing-right:before { content: '\e82d'; } /* 'î ­' */
.icon-derrick-with-ball:before { content: '\e82e'; } /* 'î ®' */
.icon-derrick-with-box-1:before { content: '\e830'; } /* 'î °' */
.icon-derrick-with-boxes:before { content: '\e831'; } /* 'î ±' */
.icon-derrick-with-load:before { content: '\e832'; } /* 'î ²' */
.icon-derrick-with-pallet:before { content: '\e833'; } /* 'î ³' */
.icon-derrick-with-tong:before { content: '\e834'; } /* 'î ´' */
.icon-door-2:before { content: '\e837'; } /* 'î ·' */
.icon-doors-open:before { content: '\e839'; } /* 'î ¹' */
.icon-double-ladder:before { content: '\e83a'; } /* 'î º' */
.icon-drawing-compass:before { content: '\e83d'; } /* 'î ½' */
.icon-drill-1:before { content: '\e83f'; } /* 'î ¿' */
.icon-electricity:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-electric-tower:before { content: '\e844'; } /* 'î¡„' */
.icon-electric-tower-1:before { content: '\e845'; } /* 'î¡…' */
.icon-engineer:before { content: '\e846'; } /* 'î¡†' */
.icon-eolic-energy:before { content: '\e847'; } /* 'î¡‡' */
.icon-flash:before { content: '\e84a'; } /* 'î¡Š' */
.icon-flashlight:before { content: '\e84b'; } /* 'î¡‹' */
.icon-garbage-truck:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-garden-fence:before { content: '\e84f'; } /* 'î¡' */
.icon-gas-pipe-7:before { content: '\e857'; } /* 'î¡—' */
.icon-hammer:before { content: '\e85a'; } /* 'î¡š' */
.icon-hammer-1:before { content: '\e85b'; } /* 'î¡›' */
.icon-hammer-and-nail:before { content: '\e860'; } /* 'î¡ ' */
.icon-helmet:before { content: '\e861'; } /* 'î¡¡' */
.icon-home-key:before { content: '\e862'; } /* 'î¡¢' */
.icon-house-plan-1:before { content: '\e865'; } /* 'î¡¥' */
.icon-house-plan-2:before { content: '\e866'; } /* 'î¡¦' */
.icon-hydrant:before { content: '\e867'; } /* 'î¡§' */
.icon-inclined-magnet:before { content: '\e86c'; } /* 'î¡¬' */
.icon-inclined-picker:before { content: '\e86d'; } /* 'î¡­' */
.icon-inclined-shovel:before { content: '\e86e'; } /* 'î¡®' */
.icon-jackhammer:before { content: '\e86f'; } /* 'î¡¯' */
.icon-knife:before { content: '\e871'; } /* 'î¡±' */
.icon-ladder:before { content: '\e872'; } /* 'î¡²' */
.icon-ladder-1:before { content: '\e873'; } /* 'î¡³' */
.icon-ladder-4:before { content: '\e876'; } /* 'î¡¶' */
.icon-light-bulb:before { content: '\e878'; } /* 'î¡¸' */
.icon-light-bulb-1:before { content: '\e879'; } /* 'î¡¹' */
.icon-light-bulb-2:before { content: '\e87a'; } /* 'î¡º' */
.icon-light-bulb-3:before { content: '\e87b'; } /* 'î¡»' */
.icon-light-bulb-6:before { content: '\e87e'; } /* 'î¡¾' */
.icon-light-bulb-8:before { content: '\e880'; } /* 'î¢€' */
.icon-light-bulb-9:before { content: '\e881'; } /* 'î¢' */
.icon-little-snowplow:before { content: '\e886'; } /* 'î¢†' */
.icon-loader:before { content: '\e887'; } /* 'î¢‡' */
.icon-log-2:before { content: '\e88a'; } /* 'î¢Š' */
.icon-man-painting:before { content: '\e88b'; } /* 'î¢‹' */
.icon-nail-gun:before { content: '\e88f'; } /* 'î¢' */
.icon-nails:before { content: '\e890'; } /* 'î¢' */
.icon-paint-brush:before { content: '\e892'; } /* 'î¢’' */
.icon-paint-brush-1:before { content: '\e893'; } /* 'î¢“' */
.icon-paint-brush-5:before { content: '\e897'; } /* 'î¢—' */
.icon-paint-brush-9:before { content: '\e89b'; } /* 'î¢›' */
.icon-paint-brush-12:before { content: '\e89e'; } /* 'î¢ž' */
.icon-paint-bucket:before { content: '\e89f'; } /* 'î¢Ÿ' */
.icon-paint-roller-1:before { content: '\e8a1'; } /* 'î¢¡' */
.icon-pantone:before { content: '\e8a4'; } /* 'î¢¤' */
.icon-parquet:before { content: '\e8a5'; } /* 'î¢¥' */
.icon-pipe-8:before { content: '\e8b0'; } /* 'î¢°' */
.icon-pipe-11:before { content: '\e8b3'; } /* 'î¢³' */
.icon-plier-2:before { content: '\e8b6'; } /* 'î¢¶' */
.icon-plier-4:before { content: '\e8b8'; } /* 'î¢¸' */
.icon-plug-3:before { content: '\e8bc'; } /* 'î¢¼' */
.icon-plug-4:before { content: '\e8bd'; } /* 'î¢½' */
.icon-plumbering:before { content: '\e8bf'; } /* 'î¢¿' */
.icon-relief-valve-2:before { content: '\e8c7'; } /* 'î£‡' */
.icon-road-barrier:before { content: '\e8c8'; } /* 'î£ˆ' */
.icon-road-stopper:before { content: '\e8c9'; } /* 'î£‰' */
.icon-roller-and-paint:before { content: '\e8ca'; } /* 'î£Š' */
.icon-roof:before { content: '\e8cb'; } /* 'î£‹' */
.icon-ruler-1:before { content: '\e8ce'; } /* 'î£Ž' */
.icon-saw-1:before { content: '\e8d5'; } /* 'î£•' */
.icon-saw-2:before { content: '\e8d6'; } /* 'î£–' */
.icon-saw-3:before { content: '\e8d7'; } /* 'î£—' */
.icon-screwdriver-1:before { content: '\e8e2'; } /* 'î£¢' */
.icon-screwdriver-5:before { content: '\e8e6'; } /* 'î£¦' */
.icon-screwdriver-3:before { content: '\e8e7'; } /* 'î£§' */
.icon-screws:before { content: '\e8e8'; } /* 'î£¨' */
.icon-set-square:before { content: '\e8eb'; } /* 'î£«' */
.icon-short-shovel:before { content: '\e8ec'; } /* 'î£¬' */
.icon-socket-8:before { content: '\e8fa'; } /* 'î£º' */
.icon-socket-16:before { content: '\e902'; } /* 'î¤‚' */
.icon-socket-18:before { content: '\e904'; } /* 'î¤„' */
.icon-socket-19:before { content: '\e905'; } /* 'î¤…' */
.icon-spray-gun:before { content: '\e907'; } /* 'î¤‡' */
.icon-stairs-with-handle:before { content: '\e908'; } /* 'î¤ˆ' */
.icon-stopcock:before { content: '\e909'; } /* 'î¤‰' */
.icon-sweeping-broom:before { content: '\e90a'; } /* 'î¤Š' */
.icon-swiss-army-knife-3:before { content: '\e90e'; } /* 'î¤Ž' */
.icon-switch:before { content: '\e911'; } /* 'î¤‘' */
.icon-tap:before { content: '\e919'; } /* 'î¤™' */
.icon-tap-1:before { content: '\e91a'; } /* 'î¤š' */
.icon-tap-2:before { content: '\e91b'; } /* 'î¤›' */
.icon-three-tools:before { content: '\e91c'; } /* 'î¤œ' */
.icon-tiles:before { content: '\e91d'; } /* 'î¤' */
.icon-tool-bag:before { content: '\e91e'; } /* 'î¤ž' */
.icon-toolbox:before { content: '\e91f'; } /* 'î¤Ÿ' */
.icon-toolbox-1:before { content: '\e920'; } /* 'î¤ ' */
.icon-tools:before { content: '\e921'; } /* 'î¤¡' */
.icon-tools-1:before { content: '\e922'; } /* 'î¤¢' */
.icon-tools-2:before { content: '\e923'; } /* 'î¤£' */
.icon-tools-3:before { content: '\e924'; } /* 'î¤¤' */
.icon-trolley-truck:before { content: '\e925'; } /* 'î¤¥' */
.icon-trolley-with-cargo:before { content: '\e926'; } /* 'î¤¦' */
.icon-trowel:before { content: '\e927'; } /* 'î¤§' */
.icon-trowel-1:before { content: '\e928'; } /* 'î¤¨' */
.icon-trowel-2:before { content: '\e929'; } /* 'î¤©' */
.icon-trowel-3:before { content: '\e92a'; } /* 'î¤ª' */
.icon-trowel-4:before { content: '\e92b'; } /* 'î¤«' */
.icon-truck-with-crane:before { content: '\e92c'; } /* 'î¤¬' */
.icon-truck-with-freight:before { content: '\e92d'; } /* 'î¤­' */
.icon-truck-with-load:before { content: '\e92e'; } /* 'î¤®' */
.icon-two-screws:before { content: '\e92f'; } /* 'î¤¯' */
.icon-two-shovels:before { content: '\e930'; } /* 'î¤°' */
.icon-vise-2:before { content: '\e934'; } /* 'î¤´' */
.icon-wallpaper:before { content: '\e93b'; } /* 'î¤»' */
.icon-wheelbarrow-1:before { content: '\e93d'; } /* 'î¤½' */
.icon-wheelbarrow:before { content: '\e93e'; } /* 'î¤¾' */
.icon-window-1:before { content: '\e940'; } /* 'î¥€' */
.icon-window-2:before { content: '\e941'; } /* 'î¥' */
.icon-wood-1:before { content: '\e945'; } /* 'î¥…' */
.icon-wood-saw:before { content: '\e947'; } /* 'î¥‡' */
.icon-wrench-2:before { content: '\e94b'; } /* 'î¥‹' */
.icon-wrench-7:before { content: '\e950'; } /* 'î¥' */
.icon-drawing:before { content: '\e955'; } /* 'î¥•' */
.icon-brick-wall4:before { content: '\e956'; } /* 'î¥–' */
.icon-vest:before { content: '\e957'; } /* 'î¥—' */
.icon-drill-2:before { content: '\e959'; } /* 'î¥™' */
.icon-brick-wall-2:before { content: '\e95b'; } /* 'î¥›' */
.icon-drawing-1:before { content: '\e95d'; } /* 'î¥' */
.icon-cone:before { content: '\e95e'; } /* 'î¥ž' */
.icon-o-concrete-mixer:before { content: '\e960'; } /* 'î¥ ' */
.icon-o-cone:before { content: '\e961'; } /* 'î¥¡' */
.icon-o-crane:before { content: '\e964'; } /* 'î¥¤' */
.icon-o-crane-1:before { content: '\e965'; } /* 'î¥¥' */
.icon-o-door-3:before { content: '\e96a'; } /* 'î¥ª' */
.icon-o-drawing:before { content: '\e96b'; } /* 'î¥«' */
.icon-o-drawing-1:before { content: '\e96c'; } /* 'î¥¬' */
.icon-o-drill-1:before { content: '\e96e'; } /* 'î¥®' */
.icon-o-electricity:before { content: '\e971'; } /* 'î¥±' */
.icon-o-engineer:before { content: '\e974'; } /* 'î¥´' */
.icon-o-eolic-energy:before { content: '\e975'; } /* 'î¥µ' */
.icon-o-flash:before { content: '\e976'; } /* 'î¥¶' */
.icon-o-gas-pipe-3:before { content: '\e97c'; } /* 'î¥¼' */
.icon-o-gas-pipe-7:before { content: '\e980'; } /* 'î¦€' */
.icon-o-glass-wall:before { content: '\e982'; } /* 'î¦‚' */
.icon-o-hammer:before { content: '\e983'; } /* 'î¦ƒ' */
.icon-o-hammer-1:before { content: '\e984'; } /* 'î¦„' */
.icon-o-hammer-3:before { content: '\e986'; } /* 'î¦†' */
.icon-o-helmet:before { content: '\e989'; } /* 'î¦‰' */
.icon-o-hook:before { content: '\e98a'; } /* 'î¦Š' */
.icon-o-hydrant:before { content: '\e98b'; } /* 'î¦‹' */
.icon-o-jackhammer:before { content: '\e98c'; } /* 'î¦Œ' */
.icon-o-jigsaw:before { content: '\e98d'; } /* 'î¦' */
.icon-o-ladder-2:before { content: '\e991'; } /* 'î¦‘' */
.icon-o-ladder-3:before { content: '\e992'; } /* 'î¦’' */
.icon-o-light-bulb:before { content: '\e995'; } /* 'î¦•' */
.icon-o-light-bulb-1:before { content: '\e996'; } /* 'î¦–' */
.icon-o-light-bulb-8:before { content: '\e99d'; } /* 'î¦' */
.icon-o-light-bulb-9:before { content: '\e99e'; } /* 'î¦ž' */
.icon-o-loader:before { content: '\e9a3'; } /* 'î¦£' */
.icon-o-log-2:before { content: '\e9a6'; } /* 'î¦¦' */
.icon-o-nail-gun:before { content: '\e9a9'; } /* 'î¦©' */
.icon-o-paint-brush-1:before { content: '\e9ad'; } /* 'î¦­' */
.icon-o-paint-brush-2:before { content: '\e9ae'; } /* 'î¦®' */
.icon-o-paint-brush-5:before { content: '\e9b1'; } /* 'î¦±' */
.icon-o-paint-brush-9:before { content: '\e9b5'; } /* 'î¦µ' */
.icon-o-paint-roller:before { content: '\e9b9'; } /* 'î¦¹' */
.icon-o-paint-roller-1:before { content: '\e9ba'; } /* 'î¦º' */
.icon-o-parquet:before { content: '\e9bd'; } /* 'î¦½' */
.icon-o-parquet-1:before { content: '\e9be'; } /* 'î¦¾' */
.icon-o-pipe-2:before { content: '\e9c1'; } /* 'î§' */
.icon-o-pipe-3:before { content: '\e9c2'; } /* 'î§‚' */
.icon-o-pipe-9:before { content: '\e9c8'; } /* 'î§ˆ' */
.icon-o-pipe-11:before { content: '\e9ca'; } /* 'î§Š' */
.icon-o-plier-1:before { content: '\e9cc'; } /* 'î§Œ' */
.icon-o-plier-4:before { content: '\e9cf'; } /* 'î§' */
.icon-o-plug-3:before { content: '\e9d3'; } /* 'î§“' */
.icon-o-plug-4:before { content: '\e9d4'; } /* 'î§”' */
.icon-o-plumbering:before { content: '\e9d6'; } /* 'î§–' */
.icon-o-rake:before { content: '\e9d8'; } /* 'î§˜' */
.icon-o-relief-valve-2:before { content: '\e9dd'; } /* 'î§' */
.icon-o-roof:before { content: '\e9de'; } /* 'î§ž' */
.icon-o-ruler-2:before { content: '\e9e1'; } /* 'î§¡' */
.icon-o-ruler-4:before { content: '\e9e3'; } /* 'î§£' */
.icon-o-saw-1:before { content: '\e9e6'; } /* 'î§¦' */
.icon-o-saw-2:before { content: '\e9e7'; } /* 'î§§' */
.icon-o-screwdriver-3:before { content: '\e9f4'; } /* 'î§´' */
.icon-o-screwdriver-5:before { content: '\e9f6'; } /* 'î§¶' */
.icon-o-screws-1:before { content: '\e9f8'; } /* 'î§¸' */
.icon-o-shovel-2:before { content: '\e9fc'; } /* 'î§¼' */
.icon-o-socket-8:before { content: '\ea07'; } /* 'î¨‡' */
.icon-o-socket-13:before { content: '\ea0c'; } /* 'î¨Œ' */
.icon-o-socket-18:before { content: '\ea11'; } /* 'î¨‘' */
.icon-o-socket-19:before { content: '\ea12'; } /* 'î¨’' */
.icon-o-swiss-army-knife-3:before { content: '\ea18'; } /* 'î¨˜' */
.icon-o-tap-1:before { content: '\ea24'; } /* 'î¨¤' */
.icon-o-tiles:before { content: '\ea26'; } /* 'î¨¦' */
.icon-o-tools-1:before { content: '\ea2a'; } /* 'î¨ª' */
.icon-o-tools-2:before { content: '\ea2b'; } /* 'î¨«' */
.icon-o-trowel-4:before { content: '\ea31'; } /* 'î¨±' */
.icon-o-vest:before { content: '\ea32'; } /* 'î¨²' */
.icon-o-vise:before { content: '\ea33'; } /* 'î¨³' */
.icon-o-vise-3:before { content: '\ea36'; } /* 'î¨¶' */
.icon-o-voltmeter-2:before { content: '\ea3a'; } /* 'î¨º' */
.icon-o-wallpaper:before { content: '\ea3c'; } /* 'î¨¼' */
.icon-o-wheelbarrow:before { content: '\ea3e'; } /* 'î¨¾' */
.icon-o-window:before { content: '\ea3f'; } /* 'î¨¿' */
.icon-o-window-1:before { content: '\ea40'; } /* 'î©€' */
.icon-o-window-3:before { content: '\ea42'; } /* 'î©‚' */
.icon-o-wood-1:before { content: '\ea45'; } /* 'î©…' */
.icon-o-woodcutter:before { content: '\ea46'; } /* 'î©†' */
.icon-o-wrench:before { content: '\ea47'; } /* 'î©‡' */
.icon-o-wrench-3:before { content: '\ea4a'; } /* 'î©Š' */
.icon-o-wrench-4:before { content: '\ea4b'; } /* 'î©‹' */
.icon-o-wrench-5:before { content: '\ea4c'; } /* 'î©Œ' */
.icon-o-wrench-6:before { content: '\ea4d'; } /* 'î©' */
.icon-o-wrench-9:before { content: '\ea50'; } /* 'î©' */
.icon-o-allen-2:before { content: '\ea53'; } /* 'î©“' */
.icon-o-anvil:before { content: '\ea54'; } /* 'î©”' */
.icon-o-axe:before { content: '\ea55'; } /* 'î©•' */
.icon-o-barrier:before { content: '\ea56'; } /* 'î©–' */
.icon-o-brace:before { content: '\ea5a'; } /* 'î©š' */
.icon-o-brick-wall-1:before { content: '\ea5c'; } /* 'î©œ' */
.icon-o-brick-wall-2:before { content: '\ea5d'; } /* 'î©' */
.icon-o-bucket:before { content: '\ea5f'; } /* 'î©Ÿ' */
.icon-o-chainsaw:before { content: '\ea62'; } /* 'î©¢' */
